export API_KEY_ALCHEMY="YOUR_API_KEY"
export ETH_FROM="YOUR_DEPLOYER_ADDRESS"
export ETHERSCAN_API_KEY="YOUR_API_KEY"
export FOUNDRY_PROFILE="lite"
export MNEMONIC="YOUR_MNEMONIC"
export PRIVATE_KEY="YOUR_PRIVATE_KEY"