# directories
artifacts/
artifacts-*/
broadcast/
cache/
coverage/
docs/
node_modules/
out/
out-*/
typechain-types/

# files
.env
*.log
.DS_Store
.pnp.*
bun.lockb
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

script/safe-batches/